:root {
    --primary-color: blue;
    --secondary-color: red;
    --tertieary-color: black;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    color: var(--tertieary-color);
    font-family:Arial, Helvetica, sans-serif;   
}

/* Header / Nav Bar Style Start */

header {
    padding: 20px 35px;
    background-color: var(--tertieary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Header / Nav Style End*/

/* Footer Styles Start */
footer {
    background: grey;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.bio img{
    max-width: 200px;
    max-height: 200px;
}

.contact img {
    max-width: 100px;
    min-height: 100px;
}
 
body {
    background-color: darkblue;
}

.bio {
    background-color: grey;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}



